<!--preloading-->
<div id="preloader">
    <img class="logo" src="images/logo1.png" alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>

<div class="page-single-2">
	<div class="container">
		<div class="row">
			<div class="middle-content">
				<a href="/-2"><img class="md-logo" src="images/logo1.png" alt=""></a>
				<img src="images/uploads/err-img.png" alt="">
				<h1>Page not found</h1>
				<a href="/" class="redbtn">go home</a>
			</div>
		</div>
	</div>
</div>